.env
.env.*
**/.env
**/.env.*

.git/
.gitignore
.idea/

agentic_ssw_rag_backend/.venv/
agentic_ssw_rag_backend/data/
agentic_ssw_rag_backend/__pycache__/
agentic_ssw_rag_backend/**/__pycache__/
agentic_ssw_rag_backend/**/*.py[cod]
agentic_ssw_rag_backend/.pytest_cache/
agentic_ssw_rag_backend/.mypy_cache/
agentic_ssw_rag_backend/.ruff_cache/

agentic_ssw_rag_frontend/node_modules/
agentic_ssw_rag_frontend/dist/
agentic_ssw_rag_frontend/.vite/

**/.DS_Store
